
<div style="text-align:center">
<div style=" position: relative;">
        <img id="image1" class = "img1" style="position: relative;" src="assets/img/header.jpg" alt="..." />
        <img id="image2" class = "img2" src="assets/img/profilepic3.jpg" alt="..." />
     </div>
<div id = "UserProfile">
           
    <div class="left">
        <h4>First Name:</h4>
        <h4>User Name:</h4>
        <h4>Email:</h4>
        <h4>Role:</h4>
        <h4>Phone Number:</h4>

    </div>
    <div class="right">
          <h4>{{currentUser.name }}</h4>
          <h4>@{{currentUser.username}}</h4>
          <h4>{{currentUser.email}}</h4>
          <h4>{{currentUser.role}}</h4>
          <h4>{{currentUser.number}}</h4>

        
    </div>

</div>


<button type="button" class="edit-button btn btn-primary" data-toggle="modal" data-target="#myModal">
  Edit Info
</button>

<button *ngIf="currentUser.role=='admin'" type="button" class="edit-button remove btn btn-danger" data-toggle="modal" data-target="#m">
  Create Group
 </button>

</div>



<div class="modal" id="myModal">
  <app-editprofile></app-editprofile>
  </div>


  <div class="modal" id="m">
    <app-creategroup (messageToEmit)="loadGroups($event)"></app-creategroup>
    </div>
  

  <div class = "ListHeader"><h1>Groups Joined</h1> <span class="dot"></span></div>


  <div *ngIf="currentUser" id = "GroupList">
    <div *ngFor="let group of currentUser.groups" class = GroupCard data-toggle="modal" data-target="#myModal">
        <img id = "ProfilePic2" src = "assets/img/group.jpg" >
        <h4>{{group.name}}</h4>
    </div>
</div>
        



  

