
.GroupCard{
    border-radius: 25px;
    width:230px;
    margin: auto;
    margin-top: 30px;
    border-bottom: gray;
    border-block-end-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: flex;
    text-align: center;
    cursor: pointer;
    
}
.ListHeader{
    
    border-radius: 25px;
    width:220px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    display: flex;
    text-align: center;
  
}

#ProfilePic2{
    height:60px;
    width: 60px;
    margin-right: 5px;
    display: table;
   
}

#GroupList{
    background-color: #E1E8ED;
    //width:500px;
    //height: 650px;
   
    margin-top: 30px;
}

.UserCard{
    border-radius: 25px;
    width:180px;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    border-bottom: gray;
    border-block-end-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: flex;
    text-align: center;
    
}
.ListHeader{
    
    border-radius: 25px;
    width:180px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    text-align: center;
  
}

#ProfilePic2{
    height:60px;
    width: 60px;
    margin-right: 5px;
    display: table;
   
}

#UserList{
    background-color: #E1E8ED;
    
}


h4{
    font-family: 'Nunito', 'sans-serif';
    margin: auto;
    font-size: 15px;
    margin-left: 10px;
}

h1{

    font-family: 'Nunito', 'sans-serif';
    font-size: 25px;
    margin-top:10px;
    

}

.dot {
    margin-top:10px;
    margin-left:5px;
    height: 25px;
    width: 25px;
    background-color: #1cd638;
    border-radius: 50%;
    display: inline-block;
  }


.a{
    margin: 0px auto;
    float: none;
    display: table;
    
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}


  
  
  