
<div *ngIf="groups" id = "GroupList">
    <div *ngFor="let group of groups" class = GroupCard  (click)="sendMessageToParent('viewGroup',group)">
        <img id = "ProfilePic2" src = "assets/img/group.jpg">
        <h4>{{group.name}}</h4>
        
    </div>
</div>
        
     