h4{
    font-family: 'Nunito', 'sans-serif';
    margin: auto;
    font-size: 20px;
    margin-left: 10px;
}

#UserProfile{
    border-radius: 25px;
    width: 350px;
    height: 200px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    background-color: #22A7F0;
    background-color:white;
    
}

.left{
    flex: 1;
}
.right{
    flex: 1;
}

#ProfilePic{
    height:250px;
    width: 250px;
    margin: 0px auto;
    float: none;
    display: table;
    margin-bottom: 10px;
}

.img1{
    position: relative;
    height: 200px;
    width:100%
}
.img2{
    position: absolute;
    border-radius: 50%;
    height:100px;
    width: 100px;
    top: 140px; 
    left: 60px;
}

.edit-button{
    text-align: center;
   
}


.GroupCard{
    border-radius: 25px;
    width:230px;
    margin: auto;
    margin-top: 30px;
    border-bottom: gray;
    border-block-end-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: flex;
    text-align: center;
    
}
.ListHeader{
    
    border-radius: 25px;
    width:220px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    display: flex;
    text-align: center;
  
}

#ProfilePic2{
    height:60px;
    width: 60px;
    margin-right: 5px;
    display: table;
   
}

#GroupList{
   
    width:500px;
    height: 200px;
    margin: auto 0;
    text-align: center;
    overflow: auto;
    margin-top: 20px;
}

h4{
    font-family: 'Nunito', 'sans-serif';
    margin: auto;
    font-size: 15px;
    margin-left: 10px;
}

h1{

    font-family: 'Nunito', 'sans-serif';
    font-size: 25px;
    margin-top:10px;
    

}

.dot {
    margin-top:10px;
    margin-left:5px;
    height: 25px;
    width: 25px;
    background-color: #1cd638;
    border-radius: 50%;
    display: inline-block;
  }


.a{
    margin: 0px auto;
    float: none;
    display: table;
    
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.b{
    margin-right:10px;
}


  
  
  

@media only screen and (max-width: 500px) {

  

    #ProfilePic{
        height:150px;
        width: 150px;
  
       
    }
   
   
    
  }
  
