

<div style="text-align:center">
    <div style=" position: relative;">
            <img id="image1" class = "img1" style="position: relative;" src="assets/img/header.jpg" alt="..." />
            <img id="image2" class = "img2" src="assets/img/profilepic3.jpg" alt="..." />
         </div>
      
    <div *ngIf="currentUser.role=='admin'" id = "UserProfile">
               
        <div class="left">
            <h4>First Name:</h4>
            <h4>User Name:</h4>
            <h4>Email:</h4>
            <h4>Phone Number:</h4>
    
        </div>
        <div class="right">
              <h4>{{user.name }}</h4>
              <h4>@{{user.username}}</h4>
              <h4>{{user.email}}</h4>
              <h4>{{user.phoneNum}}</h4>
        </div>

      
              
    </div>

    <div *ngIf="currentUser.role=='admin'">
            <button type="button" class="edit-button b btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Edit Info
                  </button>
                  
                  
                  
                  <div class="modal" id="myModal">
                    <app-edituser (messageToEmit)="updateUser($event)" [currentUser]="user"></app-edituser>
                    </div>

            <button *ngIf="!user.del" type="button" class="edit-button b btn btn-danger" (click) = "deleteUser()">
                            Delete User
            </button>

            <button *ngIf="user.del" type="button" class="edit-button b btn btn-danger" (click) = "undoDeleteUser()">
                   Undo Delete User
            </button>
    </div>

   

    <div *ngIf="currentUser.role=='user'" id = "UserProfile">
               
            <div class="left">
                <h4>First Name:</h4>
                <h4>User Name:</h4>
                <h4>Email:</h4>
                <h4>Phone Number:</h4>
        
            </div>
            <div class="right">
                  <h4>{{user.name }}</h4>
                  <h4>@{{user.username}}</h4>
                  <h4>{{user.email}}</h4>
                  <h4>{{user.number}}</h4>
            </div>
        </div>
    

        <div *ngIf="user" id = "GroupList">
                <div *ngFor="let group of user.groups" class = GroupCard data-toggle="modal" data-target="#myModal">
                    <img id = "ProfilePic2" src = "assets/img/group.jpg" >
                    <h4>{{group.name}}</h4>
                    
                   
                </div>

            </div>
    
    
    
    
    
      
    
    