#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  



.GroupCard{
    border-radius: 25px;
    width:230px;
    margin: auto;
    margin-top: 30px;
    border-bottom: gray;
    border-block-end-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: flex;
    text-align: center;
    
}
.ListHeader{
    
    border-radius: 25px;
    width:220px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    display: flex;
    text-align: center;
  
}

#ProfilePic2{
    height:60px;
    width: 60px;
    margin-right: 5px;
    display: table;
   
}

#GroupList{
    background-color: #E1E8ED;
    width:500px;
    height:50px;
    margin: auto 0;
    text-align: center;
    overflow: auto;
    margin-top: 20px;
}

.UserCard{
    border-radius: 25px;
    width:280px;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
    border-bottom: gray;
    border-block-end-style: solid;
    border-width: 1px;
    border-radius: 0px;
    display: flex;
    text-align: center;
    
}
.ListHeader{
    
    border-radius: 25px;
    width:180px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    text-align: center;
  
}

.edit-button{
    margin-right:10px;
}

#ProfilePic2{
    height:60px;
    width: 60px;
    margin-right: 5px;
    display: table;
   
}

#UserList{
    background-color: #E1E8ED;
    overflow: auto;
    height: 300px;
}

h4{
   
    font-family: 'Nunito', 'sans-serif';
    margin: auto;
    font-size: 15px;
    margin-left: 10px;
}
.remove{
    margin-top:5px;
    height:40px;
    margin-right: 5px;
   
   
}

h1{
   
    font-family: 'Nunito', 'sans-serif';
    font-size: 25px;
    margin-top:10px;
    

}

.dot {
    margin-top:10px;
    margin-left:5px;
    height: 25px;
    width: 25px;
    background-color: #1cd638;
    border-radius: 50%;
    display: inline-block;
  }


.a{
    margin: 0px auto;
    float: none;
    display: table;
    
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.left{
    flex: 1;
}
.right{
    flex: 1;
}

#ProfilePic{
    height:250px;
    width: 250px;
    margin: 0px auto;
    float: none;
    display: table;
    margin-bottom: 10px;
}

.img1{
    position: relative;
    height: 200px;
    width:100%
}
.img2{
    position: absolute;
    border-radius: 50%;
    height:50%;
    width: 20%;
    top: 140px; 
    left: 60px;
}


.list{
    margin: auto;
}
  
