
<div style=" position: relative;">
    <img id="image1" class = "img1" style="position: relative;" src="assets/img/gymcover.jpg" alt="..." />
    <img id="image2" class = "img2" src="assets/img/dumbell.jpg" alt="..." />
 </div>

<div class = "ListHeader"><h1>{{group.name}}</h1></div>
<div *ngIf="currentUser.role=='admin'">
    <button type="button" class="edit-button btn btn-primary" data-toggle="modal" data-target="#myModal">
            Edit Group
          </button>

          <button type="button" class="edit-button btn btn-primary" data-toggle="modal" data-target="#myModal2">
                Add Users
              </button>

              <button type="button" class="edit-button btn btn-danger" (click) = "deleteGroup()">
                Delete Group
              </button>
          <div class="modal" id="myModal">
            <app-editgroup [group]="group"></app-editgroup>
            </div>
            
</div>    

<div class = "ListHeader"><h1>Users</h1></div>

<div *ngIf="users" id = "UserList">
        <ng-container *ngFor="let user of users">
                <ng-container>

                        <div class = UserCard>
                                <button *ngIf="currentUser.role=='admin'" type="button" class="edit-button remove btn btn-danger" (click) = "removeFromGroup(user)">
                                        Remove
                                    </button>
                                <img id = "ProfilePic2" src = "assets/img/login2.png">
                                <h4>{{user.name}}</h4>

                            </div>
                    </ng-container>
        </ng-container>
        <div id="snackbar">message</div>
</div>
        
     


<div class="modal" id="myModal2">
        <div class="modal-dialog">
                <div class="modal-content">
            
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Add Users</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
        
                  <!-- Modal body -->
                  <div class="modal-body">

                <div *ngIf="addUsers" id = "UserList">
                        <ng-container *ngFor="let user of addUsers">
                                <ng-container>
                                        <div class = UserCard>
                                                <button *ngIf="currentUser.role=='admin'" type="button" class="edit-button remove btn btn-danger" (click) = "addUserToGroup(user)">
                                                         Add
                                                        </button>
                                                <img id = "ProfilePic2" src = "assets/img/login2.png">
                                                <h4>{{user.name}}</h4>
                                        </div>
                                </ng-container>
                        </ng-container>
                                </div>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
</div>


