
$primary: rgb(29, 161, 242);

.header {
    font-family: 'Nunito', 'sans-serif';
    background: $primary;
    font-size: 18px;
    

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1{
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    color: white;
    float: right;
    margin: 0;
    
}
.hide{
    display: none;
 }


@media screen and (max-width: 575px) {
    .hide{
        display: block;
     }
   
  }

  @media (max-width: 400px) {
  .header{
      width:500px;
  }
  }