<nav class="navbar navbar-expand-md navbar-light header">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Welcome {{currentUser.username}}</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class=" collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link"(click)="sendMessageToParent('profile')">MyProfile</a>
                </li>
            <li class="nav-item">
              <a class="nav-link" (click) = "logout()">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hide"(click)="sendMessageToParent('userList')">View Users</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link hide"(click)="sendMessageToParent('groupList')">View Groups</a>
                </li>
            
            
          </ul>
        </div> 
      </nav>