




.LoginContainer{
    border-radius: 25px;
    margin:auto;
    margin-top: 100px;
    background-color: white;
    border-style: solid;
    border-color: #6c508c;
    width:800px;
}

.LoginForm{
    margin: 0px auto;
    float: none;
    display: table;
}

#logo{
    height:100px;
    width: 100px;
    margin: 0px auto;
    float: none;
    display: table;
    margin-bottom: 10px;
}

.LoginForm{
    margin: 0px auto;
    float: none;
    display: table;
}


h1{
    font-family: 'Nunito', 'sans-serif';
    text-align:center;
    color:#5bb0d9;
    color:#163e4a;
   
}



@media only screen and (max-width: 900px) {

    .LoginContainer{
        border-radius: 25px;
        margin:auto;
        margin-top: 50px;
        border-style: solid;
        border-style: none;
        width:300px;
    
    }

   
    
  }