
<app-header></app-header>

<h1>User List</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>



<ul  *ngIf="users">
  <li *ngFor="let user of users">
    <p class="name">{{ user.name }}</p>
    <p class="country">{{ user.username }}</p>
  </li>
</ul>

<button [disabled]="loading" class="btn btn-primary" (click) = "postUser()">
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
  Post
</button>