.editform{
    width:300px;
    margin: auto;
    text-align: center;
}

.b{
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
}

@media screen and (max-width: 575px) {
    .editform{
        width:100px;
      
    }
  }