
<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Create New Group</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       
      </div>

      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
         
            <div class="editform form-group">

                    <div class="editform form-group">
                            <label for="name">Name</label>
                            <input type="text" formControlName="name" class=" form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>
                        <div class="editform form-group">
                            <label for="desc">Description</label>
                            <input type="text" formControlName="desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.desc.errors }" />
                            <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
                                <div *ngIf="f.desc.errors.required">Description is required</div>
                            </div>
                        </div>

                       
                        <button [disabled]="loading" class="b btn btn btn-danger">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                               Save
                            </button>

            </div>

      </form>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
