
    <div *ngIf="users" id = "UserList">
        <ng-container *ngFor="let user of users">
        <div *ngIf="!user.del" class = UserCard (click)="sendMessageToParent('viewUser',user)">
            <img id = "ProfilePic2" src = "assets/img/login2.png">
            <h4>{{user.name}}</h4>
        </div>
        </ng-container>
    </div>
            
         
