<app-header (messageToEmit)="getMessage($event)"></app-header>

<div class='row'>
   
        <div class='right-column'>
            <div class = "ListHeader"><h1>Online Users</h1> <span class="dot"></span></div>
            <div class = "list">
                <app-userlist2 [users] = "users" (messageToEmit)="getMessage2($event)"></app-userlist2>
            </div>
           
        </div>
            <div *ngIf="view=='profile'" class='center-column'>
                <app-profile></app-profile>
          </div>

          <div *ngIf="view=='viewUser'" class='center-column'>
            <app-viewuser [user]="viewUser"></app-viewuser>
         </div>

         <div *ngIf="view=='viewGroup'" class='center-column'>
          <app-group  [group]="viewGroup"></app-group>
       </div>
       
       <div *ngIf="view=='userList'" class='center-column'>
            <div class = "ListHeader"><h1>Online Users</h1> <span class="dot"></span></div>
          <div class = "list">
                <app-userlist2 class='list2' [users] = "users" (messageToEmit)="getMessage2($event)"></app-userlist2>
            </div>
          
         </div>
      
         <div *ngIf="view=='groupList'" class='center-column'>
                <div class = "ListHeader"><h1>Available Groups</h1> <span class="dot"></span></div>
                <div class = "list">
                        <app-grouplist (messageToEmit)="getMessage3($event)"></app-grouplist>
                    </div>
           </div>
      
      <div class='right-column'>
        <div class = "ListHeader"><h1>Available Groups</h1> <span class="dot"></span></div>
        <div class = "list">
            <app-grouplist (messageToEmit)="getMessage3($event)"></app-grouplist>
        </div>
      </div>
      <div>
    </div>
</div>  






    
    