.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:650px;
    

  }

  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .left-column {
    display: flex;
    flex-direction: column;
    flex:1;
    border-style: solid;
    border-color: #5bb0d9;
    border-color:#F5F8FA;
    border-width: 2px;
  }

  .center-column {
    display: flex;
    flex-direction: column;
    flex:3;
    border-style: solid;
    border-color: #5bb0d9;
    border-color:#F5F8FA;
    border-width: 2px;
  }
  
  
  .right-column {
    display: flex;
    flex-direction: column;
    flex:2;
    border-style: solid;
    border-color: #5bb0d9;
    border-color:#F5F8FA;
    border-width: 2px;
  }


  
h1{

  font-family: 'Nunito', 'sans-serif';
  font-size: 25px;
  margin-top:10px;
  

}

.dot {
  margin-top:10px;
  margin-left:5px;
  height: 25px;
  width: 25px;
  background-color: #1cd638;
  border-radius: 50%;
  display: inline-block;
}

.ListHeader{
    
  border-radius: 25px;
  width:220px;
  margin: auto;
  margin-top: 30px;
  background-color: white;
  display: flex;
  text-align: center;

}
.list{
  background-color: #E1E8ED;
    width:500px;
    height: 650px;
    margin: auto 0;
    text-align: center;
    overflow: auto;
    margin-top: 20px;
}


  @media only screen and (max-width: 800px) {

    .left-column {
     display: none;
    }
    
  }

  ::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.mobileView{
  display: none
}


@media screen and (max-width: 1400px) {
  .right-column {
     display: none;
  }

  .list{
    margin: auto;
    margin-top: 0px;
    height: 400px;
  }

  .left-column{
    display: none
  }

  .ListHeader{
    
    border-radius: 25px;
    width:220px;
    height:0px;
  
    background-color: white;
    display: block;
    text-align: center;
  
  }
}
