<div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit Account</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       
      </div>

      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
         
            <div class="editform form-group">

                    <div class="editform form-group">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class=" form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                                <div *ngIf="f.username.errors.UserExist">Username taken</div>
                            </div>
                        </div>
                        <div class="editform form-group">
                            <label for="name">Name</label>
                            <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                        </div>

                        <div class="editform form-group">
                          <label for="email">Email</label>
                          <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                              <div *ngIf="f.email.errors.required">Email is required</div>
                          </div>
                      </div>

                      <div class="editform form-group">
                        <label for="phonenumber">Phone number</label>
                        <input type="number" formControlName="phonenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
                        <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                            <div *ngIf="f.phonenumber.errors.required">Phone number is required</div>
                        </div>
                    </div>
                        <button [disabled]="loading" class="b btn btn btn-danger">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                               Save
                            </button>
                            <div id="snackbar">Account Updated</div>

            </div>

      </form>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>